.about-stc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: rgb(251, 223, 179);
  gap: 40px;
  flex-wrap: wrap; /* Makes it responsive */
}

.about-text {
  flex: 1;
  min-width: 50%;
  color: rgb(50, 36, 26);
}

.about-text h3 {
  font-size: 1.8rem;
  color: rgb(50, 36, 26);
}

.about-text p {
  font-weight: 500;
  line-height: 1.6;
  color: rgb(50, 36, 26);
}

.about-img {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.about-img img {
  max-width: 70%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
}
