.menu-product{
    background-color: rgb(251,223,179);
    color: rgb(50, 36, 26);
}

.menu{
    text-align: center;
    margin-top: 50px;
    font-weight: bold !important;
}

.menu-txt{
    text-align: center;
}

.Menu {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap:40px;
    justify-content: space-between;
}

.ctc{
    flex:1;
    background-color: rgba(93, 66, 48, 0.151);
    color: rgb(93,66,48);
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-top: 10px;
}

.item-calories{
    margin:0px;
    
}

h4{
    font-weight: bold !important;
}