p{
    text-align: center;
    padding-top: 200px;
    color: rgb(251, 223, 179)
}

p h1{
    font-weight: bold;
    font-size: xxx-large;
}

button{
    border-radius: 9px !important;
    border: none;
    padding: 5px;
    height: 45px;
    width: 90px;
    cursor: pointer;
    background-color: rgb(251,223,179);
    color: rgb(50, 36, 26);
}