.main-bg {
  background-image: url('../assets/sliced-roll-cake-wooden-board-with-cup-tea-stone-surface.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 750px;
  position: relative;
  z-index: 0;
}

.main-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.main-bg > * {
  position: relative;
  z-index: 1;
}

.hero-p {
  justify-content: center;
  text-align: center;
  padding-top: 200px;
  color: rgb(251, 223, 179);
  font-weight: bold;
  font-size: large;
}

.hero-h1 {
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  margin-top: 55px;
}

.hero-btn {
  border-radius: 9px;
  border: none;
  padding: 5px;
  height: 45px;
  width: 90px;
  cursor: pointer;
  background-color: rgb(251, 223, 179);
  color: rgb(50, 36, 26);
}

.about-stc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: rgb(251, 223, 179);
  gap: 40px;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
  min-width: 50%;
  color: rgb(50, 36, 26);
}

.about-text h3 {
  font-size: 1.8rem;
  color: rgb(50, 36, 26);
}

.about-text p {
  font-weight: 500;
  line-height: 1.6;
  color: rgb(50, 36, 26);
}

.about-img {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.about-img img {
  max-width: 70%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
}

.about {
  background-color: rgb(251, 223, 179);
  padding: 100px;
}

.contct {
  padding: 40px;
}

.contct h3,
.contct h6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contct h3 {
  font-weight: bold;
}

.contct h6 {
  font-size: large;
}

.dett {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  background-color: rgba(93, 66, 48, 0.063);
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
}

.img {
  max-width: 80px;
  height: auto;
  object-fit: contain;
}

.item-title {
  margin: 20px;
  font-weight: bold;
}

.item-desp {
  margin: 5px;
  text-align: center;
}

@media (max-width: 768px) {
  .about-stc {
    flex-direction: column;
    padding: 20px;
  }

  .about {
    padding: 40px 20px;
  }

  .hero-h1 {
    font-size: 1.5rem;
  }

  .hero-p {
    font-size: 1rem;
    padding-top: 100px;
  }

  .img {
    max-width: 60px;
  }

  .detail {
    padding: 20px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px auto;
  }

  .contct {
    padding: 20px;
    text-align: center;
  }

  .contct h3 {
    font-size: 1.4rem;
  }

  .contct h6 {
    font-size: 1rem;
    padding: 10px 0;
  }

  .dett {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
