.main-bg{
    background-image: url('../assets/sliced-roll-cake-wooden-board-with-cup-tea-stone-surface.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 750px;
    box-sizing: border-box;

    position: relative;
    z-index: 0;
}

.main-bg::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: -1;
}

.main-bg > * {
    position: relative;
    z-index: 1;
}

.about-stc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: rgb(251, 223, 179);
  gap: 40px;
  flex-wrap: wrap; /* Makes it responsive */
}

.about-text {
  flex: 1;
  min-width: 50%;
  color: rgb(50, 36, 26);
}

.about-text h3 {
  font-size: 1.8rem;
  color: rgb(50, 36, 26);
}

.about-text p {
  font-weight: 500;
  line-height: 1.6;
  color: rgb(50, 36, 26);
}

.about-img {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.about-img img {
  max-width: 70%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
}

.hero-p{
    justify-content: center;
    text-align: center;
    padding-top: 200px;
    color: rgb(251, 223, 179);
    font-weight: bold;
    font-size: large;
}

.hero-h1{
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    margin-top: 55px;
}

.hero-btn{
    border-radius: 9px !important;
    border: none;
    padding: 5px;
    height: 45px;
    width: 90px;
    cursor: pointer;
    background-color: rgb(251,223,179);
    color: rgb(50, 36, 26);
}